<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.info.mapper.PmsProductCategoryMapper">
    
    <resultMap type="PmsProductCategory" id="PmsProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="name"    column="name"    />
        <result property="level"    column="level"    />
        <result property="productCount"    column="product_count"    />
        <result property="productUnit"    column="product_unit"    />
        <result property="navStatus"    column="nav_status"    />
        <result property="showStatus"    column="show_status"    />
        <result property="sort"    column="sort"    />
        <result property="icon"    column="icon"    />
        <result property="keywords"    column="keywords"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectPmsProductCategoryVo">
        select id, parent_id, name, level, product_count, product_unit, nav_status, show_status, sort, icon, keywords, description from pms_product_category
    </sql>

    <select id="selectPmsProductCategoryList" parameterType="PmsProductCategory" resultMap="PmsProductCategoryResult">
        <include refid="selectPmsProductCategoryVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="productCount != null "> and product_count = #{productCount}</if>
            <if test="productUnit != null  and productUnit != ''"> and product_unit = #{productUnit}</if>
            <if test="navStatus != null "> and nav_status = #{navStatus}</if>
            <if test="showStatus != null "> and show_status = #{showStatus}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectPmsProductCategoryById" parameterType="Long" resultMap="PmsProductCategoryResult">
        <include refid="selectPmsProductCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPmsProductCategory" parameterType="PmsProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into pms_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="name != null">name,</if>
            <if test="level != null">level,</if>
            <if test="productCount != null">product_count,</if>
            <if test="productUnit != null">product_unit,</if>
            <if test="navStatus != null">nav_status,</if>
            <if test="showStatus != null">show_status,</if>
            <if test="sort != null">sort,</if>
            <if test="icon != null">icon,</if>
            <if test="keywords != null">keywords,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="name != null">#{name},</if>
            <if test="level != null">#{level},</if>
            <if test="productCount != null">#{productCount},</if>
            <if test="productUnit != null">#{productUnit},</if>
            <if test="navStatus != null">#{navStatus},</if>
            <if test="showStatus != null">#{showStatus},</if>
            <if test="sort != null">#{sort},</if>
            <if test="icon != null">#{icon},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updatePmsProductCategory" parameterType="PmsProductCategory">
        update pms_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="level != null">level = #{level},</if>
            <if test="productCount != null">product_count = #{productCount},</if>
            <if test="productUnit != null">product_unit = #{productUnit},</if>
            <if test="navStatus != null">nav_status = #{navStatus},</if>
            <if test="showStatus != null">show_status = #{showStatus},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePmsProductCategoryById" parameterType="Long">
        delete from pms_product_category where id = #{id}
    </delete>

    <delete id="deletePmsProductCategoryByIds" parameterType="String">
        delete from pms_product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>